######## ENTRADAS (coletores ativos-baixo) ########
# sensor0_n -> D1
LOCATE COMP "sensor0_n" SITE "D1";
IOBUF  PORT "sensor0_n" IO_TYPE=LVCMOS33 PULLMODE=NONE;

# sensor1_n -> C1
LOCATE COMP "sensor1_n" SITE "C1";
IOBUF  PORT "sensor1_n" IO_TYPE=LVCMOS33 PULLMODE=NONE;

# sensor2_n -> C2
LOCATE COMP "sensor2_n" SITE "C2";
IOBUF  PORT "sensor2_n" IO_TYPE=LVCMOS33 PULLMODE=NONE;

# sensor3_n -> E3
LOCATE COMP "sensor3_n" SITE "E3";
IOBUF  PORT "sensor3_n" IO_TYPE=LVCMOS33 PULLMODE=NONE;

# sensor4_n -> B4
LOCATE COMP "sensor4_n" SITE "B4";
IOBUF  PORT "sensor4_n" IO_TYPE=LVCMOS33 PULLMODE=NONE;

######## SAÍDAS (LEDs / atuadores) ########
# led0 -> E2
LOCATE COMP "led0" SITE "E2";
IOBUF  PORT "led0" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;

# led1 -> D2
LOCATE COMP "led1" SITE "D2";
IOBUF  PORT "led1" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;

# led2 -> B1
LOCATE COMP "led2" SITE "B1";
IOBUF  PORT "led2" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;

# led3 -> A3
LOCATE COMP "led3" SITE "A3";
IOBUF  PORT "led3" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;

# led4 -> C3
LOCATE COMP "led4" SITE "C3";
IOBUF  PORT "led4" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
